{% extends 'base.html.twig' %}

{% block title '404 Page Introuvable' %}

{% block body %}    
    <div class="text-center">
        <h1>404 Page Introuvable</h1>
    </div>
    <div class="container justify-content-center">
        <p>
            La page demandée est introuvable : <a href="{{ path('homepage') }}">Retour à la page d'accueil</a>.
        </p>
    </div>
{% endblock %}